@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #E2CE1A;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.apresentacao {
    display: flex;
    justify-content: center;
    padding: 8%;
}

.cliente_apresentacao {
    width: 304px;
    display: flex;
    flex-direction: column;
    border-radius: 20px 0px 0px 20px;
    background-color: #36320A;
    padding: 4%;
}

.logo_apresentacao {
    margin-top: 95px;
    width: 50%;
}

.conteudo_cliente_apresentacao {
    text-align: center;
}

.subtitulo_cliente {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
}

.paragrafo_cliente {
    font-size: 23px;
    font-weight: 500;
    text-align: center;
}

.btn_entrar {
    border-radius: 30px;
    border: solid #FFFFFF;
    background: none;
    color: #FFFFFF;
    font-family: 'Poppins' sans-serif;
    font-size: 23px;
    font-weight: 700;
    padding: 17px;
    width: 232px;
}

.paragrafo_cliente_esqueci_senha {
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}

.cadastrar_apresentacao {
    width: 640px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 0px 20px 20px 0px;
    background-color: #FEFAA1;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    padding: 4%;
}

.conteudo_cadastrar_apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo_cadastrar {
    font-size: 32px;
    font-weight: 800;
    color: #000000;
}

.paragrafo_cadastrar {
    font-size: 19px;
    font-weight: 500;
    color: #000000;
}

.icon_input_user {
    width: 480px;
    display: flex;
    align-items: center;
    gap: 3px;
    background-color: #E2CE1A;
    color: #36320A;
    border-radius: 16px;
    border: none;
    padding: 5px 20px;
    box-sizing: border-box;
}
.icon_input_user input{
    width: 100%;
    padding: 13px;
    background-color: #E2CE1A;
    outline: none;
    border: none;
}

.icon_input_email {
    width: 480px;
    display: flex;
    align-items: center;
    gap: 3px;
    background-color: #E2CE1A;
    color: #36320A;
    border-radius: 16px;
    border: none;
    padding: 5px 20px;
    box-sizing: border-box;
}

.icon_input_email input{
    width: 100%;
    padding: 13px;
    background-color: #E2CE1A;
    outline: none;
    border: none;
}

.icon_input_password {
    width: 480px;
    display: flex;
    align-items: center;
    gap: 3px;
    background-color: #E2CE1A;
    color: #36320A;
    border-radius: 16px;
    border: none;
    padding: 5px 20px;
    box-sizing: border-box;
}

.icon_input_password input{
    width: 100%;
    padding: 13px;
    background-color: #E2CE1A;
    outline: none;
    border: none;
}

.btn_cadastrar {
    border-radius: 30px;
    border: none;
    background: #36320A;
    color: #FFFFFF;
    font-family: 'Poppins' sans-serif;
    font-size: 23px;
    font-weight: 700;
    padding: 17px;
    width: 232px;
}